{% extends "layouts/portallayoutadmin.html.twig" %}

{% block head %}
	<link href="{{ asset('resources/portal/plugins/select2/css/select2.min.css') }}" rel="stylesheet"/>
	<link href="{{ asset('resources/portal/plugins/select2/css/select2-bootstrap4.css') }}" rel="stylesheet"/>
	<link href="{{ asset('resources/portal/plugins/fontawesome-free-5.15.4-web/css/all.min.css') }}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ asset('resources/portal/plugins/notifications/css/lobibox.min.css') }}"/>
	<link href="{{ asset('resources/portal/plugins/dropzone/min/dropzone.min.css') }}" rel="stylesheet">


	<link href="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/css/wysiwyg.min.css') }}" rel="stylesheet">
	<link href="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/css/highlight.min.css') }}" rel="stylesheet">
	{{ parent() }}
	<link href="{{ asset('resources/portal/plugins/simple-rich-text-editor/style.css') }}" rel="stylesheet"/>
	<style>
		.footer {
			position: fixed;
		}
		#div-trainerlist {
			display: block;
			width: 100%;
		}
	</style>
{% endblock %}


{% block mainContent %}

	<body
		class="bg-theme bg-theme1">
		<!-- wrapper -->
		<div
			class="wrapper">
			<!--sidebar-wrapper-->
			{% block sidenav %}
				{{ parent() }}
			{% endblock %}
			<!--end sidebar-wrapper-->
			<!--header-->
			{% block topnav %}
				{{ parent() }}
			{% endblock %}
			<!--end header-->
			<!--page-wrapper-->
			<!--page-wrapper-->
				<div
				class="page-wrapper"> <!--page-content-wrapper-->
				<div class="page-content-wrapper">
					<div
						class="page-content">
						<!--breadcrumb-->
						<div class="mb-3 page-breadcrumb d-none d-md-flex align-items-center">
							<div class="pr-3 breadcrumb-title">{{page_name}}</div>
							<div class="pl-3">
								<nav aria-label="breadcrumb">
									<ol class="p-0 mb-0 breadcrumb">
										<li class="breadcrumb-item">
											<a href="/admin-dash">
												<i class='bx bx-home-alt'></i>
											</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">{{page_description}}</li>
									</ol>
								</nav>
							</div>

						</div>
						<!--end breadcrumb-->
						<div class="user-profile-page">
							<div class="card radius-15">
								<div class="card-body">
									<div class="row">
										<div class="col-12 col-lg-7 border-right">
											<div class="d-md-flex align-items-center">
												<div
													class="mb-3 mb-md-0">
													{# <i class="bx bx-user bx-lg" width="130" height="130"></i> #}
													<img id="cms-thumbnail" src="/resources/skin/images/resource/17.jpg" class="shadow rounded-square" width="230" height="170" alt=""/>

												</div>
												<div class="ml-md-4 flex-grow-1">
													<div class="mb-1 d-flex align-items-center">
														<h4 class="mb-0 " id="event-name"></h4>
														{# <p class="mb-0 ml-auto">$44/hr</p> #}
													</div>
													<p class="mb-0" id="tag_line"></p>
													{# <p>
																																																					<i class='bx bx-buildings'></i>
																																																					<span class="location-span"></span>
																																																				</p> #}
													{# <button type="button" class="btn btn-light">Connect</button>
																																																																													<button type="button" class="ml-2 btn btn-light">Resume</button> #}
												</div>
											</div>
										</div>
										<div class="col-12 col-lg-5">
											<table class="table mt-3 table-sm table-borderless mt-md-0">
												<tbody>
													<tr>
														<th>Created on:</th>
														<td>
															<span id="created-on"></span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!--end row-->
									<ul class="nav nav-pills">
										<li class="nav-item">
											<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#Biography">
												<span class="p-tab-name">Book</span>
												<i class='bx bxs-user-rectangle font-24 d-sm-none'></i>
											</a>
										</li>
									</ul>
									<div class="mt-3 tab-content">
										<div class="tab-pane fade show active" id="Biography">
											<div class="row">
												<div class="col-lg-4 hide-me">
													<div class="mb-0 border shadow-none card">
														<div class="card-body">
															<h5 class="mb-3">Notes</h5>
														</div>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">
																<p class="mb-0">
																	<i class='bx bxs-arrow-to-right'></i>
																	Max Attendees
																	<span id="max-attendee-span"></span>
																</p>
															</li>
															<li class="list-group-item">
																<p class="mb-0">
																	<i class='bx bxs-arrow-to-right'></i>
																	Max Chaperone
																	<span id="chaperone-allowed-span"></span>
																</p>
															</li>
															<li class="list-group-item">
																<p class="mb-0">
																	<i class='bx bxs-arrow-to-right'></i>
																	Age bracket
																	<span class="age-bracket-span"></span>
																</p>
															</li>
														</ul>

														<div class="col-md-12">
															<div class="mb-0 border shadow-none card">
																<div class="card-body">
																	<h5 class="mb-3">Trainers List</h5>

																	<div class="col-md-12 row">
																		<div class="row" id="div-trainerlist"></div>
																	</div>
																</div>
															</div>
														</div>

														<div class="col-md-12">
															<div class="single-select">
																<label>Update Status</label>
																<select id="status-select" class="form-control"></select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="mb-0 border shadow-none card radius-15">
														<div class="card-body">
															<h5 class="mb-3">Editing Form</h5>
															<p id="profile-bio"></p>

															<div class="col-12">
																<div class="col-12 alerts-div">
																	<div class="col-md-1"></div>
																	<div class="col-md-10">
																		<div class="removeBookMessages"></div>
																		<div class="ajaxBookloader"></div>
																	</div>
																	<div class="col-md-1"></div>
																</div>
															</div>

															<div class="row">
																<div class="col-md-12 ">
																	<form action="#" id="cms-update-form">
                                                                    <input type="hidden" id="cms-id">
																		<div class="row">
																			<div class="col-md-12">
																				<div class="single-select">
																					<label>Content Title</label>
																					<input class="form-control" type="text" name="content-title" id="content-title">
																				</div>
																			</div>
																		</div>

																		<div class="mt-4 form-group">
																			<label>Content Body</label>

																			<textarea id="editor" class="form-control wysiwyg-editor hide-me">
																				content here
																			</textarea>
																		</div>

																		<div class="mt-4 form-group">
																			<label>Replace CMS image
																				<small>(best fit 600x325)</small>
																			</label>
																			<div action="" class="dropzone col-md-12" id="my-awesome-dropzone" name="my-awesome-dropzone"></div>
																		</div>
																		<div class="mt-3 btn-group w-100">
																			<button id="cms-update" type="submit" class="btn btn-light btn-block cms-update-btn">Update CMS</button>
																			<button type="submit" class="btn btn-light cms-update-btn cms-update-btn-ico">
																				<i class="lni lni-arrow-right"></i>
																			</button>
																		</div>
																	</form>
																</div>
															</div>

															<hr>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="Edit-Profile">
											<div class="mb-0 border shadow-none card radius-15">
												<div class="card-body">
													<div class="col-md-12 row">
														<div class="" id="desc-body"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end page-content-wrapper-->
			</div>
			<!--end page-wrapper-->
		</div>
	</body>
	<!--header-->


	<!--end header-->
{% endblock %}
{% block pageScripts %}
	<!--Data Tables js-->
	<script src="{{ asset('resources/portal/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/simple-rich-text-editor/script.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/select2/js/select2.min.js') }}"></script>
	{# <script src="{{ asset('resources/portal/func/trainers/cms-update.js') }}"></script> #}
	<script src="{{ asset('resources/portal/plugins/notifications/js/lobibox.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/notifications/js/notifications.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/notifications/js/notification-custom-script.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/dropzone/min/dropzone.min.js') }}"></script>


	<script src="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/js/wysiwyg.min.js') }}"></script>

	{# <script src="{{ asset('resources/portal/func/events/event-details-new.js') }}"></script> #}
	<script src="{{ asset('resources/portal/adminfunc/cms/home-why-taalam.js') }}"></script>
	{# <script src="{{ asset('resources/portal/adminfunc/events/edit-cms-update.js') }}"></script> #}
{% endblock %}
