{% extends "layouts/portallayoutadmin.html.twig" %}

{% block head %}
	<link href="{{ asset('resources/portal/plugins/select2/css/select2.min.css') }}" rel="stylesheet"/>
	<link href="{{ asset('resources/portal/plugins/select2/css/select2-bootstrap4.css') }}" rel="stylesheet"/>
	<link href="{{ asset('resources/portal/plugins/fontawesome-free-5.15.4-web/css/all.min.css') }}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ asset('resources/portal/plugins/notifications/css/lobibox.min.css') }}"/>
	<link href="{{ asset('resources/portal/plugins/dropzone/min/dropzone.min.css') }}" rel="stylesheet">

	<link href="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/css/wysiwyg.min.css') }}" rel="stylesheet">
	<link href="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/css/highlight.min.css') }}" rel="stylesheet">


	{{ parent() }}
	<link href="{{ asset('resources/portal/plugins/simple-rich-text-editor/style.css') }}" rel="stylesheet"/>
	<style>
		.footer {
			position: fixed;
		}
		#div-trainerlist {
			display: block;
			width: 100%;
		}
	</style>
{% endblock %}


{% block mainContent %}

	<body
		class="bg-theme bg-theme1">
		<!-- wrapper -->
		<div
			class="wrapper">
			<!--sidebar-wrapper-->
			{% block sidenav %}
				{{ parent() }}
			{% endblock %}
			<!--end sidebar-wrapper-->
			<!--header-->
			{% block topnav %}
				{{ parent() }}
			{% endblock %}
			<!--end header-->
			<!--page-wrapper-->
			<!--page-wrapper-->
				<div
				class="page-wrapper"> <!--page-content-wrapper-->
				<div class="page-content-wrapper">
					<div
						class="page-content">
						<!--breadcrumb-->
						<div class="mb-3 page-breadcrumb d-none d-md-flex align-items-center">
							<div class="pr-3 breadcrumb-title">Edit Opportunity</div>
							<div class="pl-3">
								<nav aria-label="breadcrumb">
									<ol class="p-0 mb-0 breadcrumb">
										<li class="breadcrumb-item">
											<a href="/admin-dash">
												<i class='bx bx-home-alt'></i>
											</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Opportunities</li>
									</ol>
								</nav>
							</div>
							{# <div class="ml-auto">
																													<div class="btn-group">
																														<button type="button" class="btn btn-light">Settings</button>
																														<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
																															<span class="sr-only">Toggle Dropdown</span>
																														</button>
																														<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
																															<a class="dropdown-item" href="javascript:;">Action</a>
																															<a class="dropdown-item" href="javascript:;">Change Password</a>
																															<a class="dropdown-item" href="javascript:;">Deactivate Account</a>
																														</div>
																													</div>
																												</div> #}
						</div>
						<!--end breadcrumb-->
						<div class="col-12 row loading-div hide-me">

							<div class="col-12 alerts-div">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<span id="notif-span"></span>
									<div class="removeDataMessages"></div>
									<div class="ajaxDataloader"></div>
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>
						<div class="user-profile-page">
							<div class="card radius-15">
								<div class="card-body">

									<ul class="nav nav-pills">
										<li class="nav-item">
											<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#Biography">
												<span class="p-tab-name">Listing</span>
												<i class='bx bxs-user-rectangle font-24 d-sm-none'></i>
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#Edit-Profile">
												<span class="p-tab-name">Details</span>
												<i class='bx bx-message-edit font-24 d-sm-none'></i>
											</a>
										</li>
									</ul>
									<div class="mt-3 tab-content">
										<div class="tab-pane fade show active" id="Biography">
											<div class="row">
												<div class="col-lg-4">
													<div class="mb-0 border shadow-none card">
														<div class="card-body">
															<h5 class="mb-3">Notes</h5>
														</div>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">
																<p class="mb-0">
																	<i class='bx bxs-arrow-to-right'></i>
																	Status:
																	<span id="status-disp"></span>
																</p>
															</li>
														</ul>

														<div class="col-md-12">
															<div class="mb-0 border shadow-none card">
																<div class="card-body">
																	<h5 class="mb-3">Trainers List</h5>

																	<div class="col-md-12 row">
																		<div class="row" id="div-trainerlist"></div>
																	</div>
																</div>
															</div>
														</div>

														<div class="col-md-12">
															<div class="single-select">
																<label>Update Status</label>
																<select id="status-select" class="form-control">
																	<option value="0">Icebox</option>
																	<option value="1">Ongoing</option>
																	<option value="2">Closed</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-8">
													<div class="mb-0 border shadow-none card radius-15">
														<div class="card-body">
															<h5 class="mb-3">Editing Form</h5>
															<p id="profile-bio"></p>

															<div class="col-12">
																<div class="col-12 alerts-div">
																	<div class="col-md-1"></div>
																	<div class="col-md-10">
																		<div class="removeBookMessages"></div>
																		<div class="ajaxBookloader"></div>
																	</div>
																	<div class="col-md-1"></div>
																</div>
															</div>

															<div class="row">
																<div class="col-md-12 ">
																	<form action="#" id="new-opportunity-form">
																		<div class="row">
																			<div class="col-md-12">
																				<div class="single-select">
																					<label>Title</label>
																					<input class="form-control" type="text" name="title" id="title">
																				</div>
																			</div>
																		</div>

																		<div class="row">
																			<div class="mt-4 form-group col-lg-6">
																				<label>Location</label>
																				<textarea class="form-control" rows="3" cols="50" name="location" id="location"></textarea>
																			</div>
																			<div class="mt-4 form-group col-lg-6">
																				<label>Contract Legth</label>
																				<textarea class="form-control" rows="3" cols="50" name="contract-legth" id="contract-legth"></textarea>
																			</div>
																		</div>

																		<div class="mt-4 form-group">
																			<label>Overview</label>
																			<textarea id="editor" class="form-control wysiwyg-editor hide-me">
																				content here
																			</textarea>
																		</div>


																		<div class="mt-4 form-group">
																			<label>Responsibilities</label>
																			<textarea id="editor-2" class="form-control wysiwyg-editor hide-me">
																				content here
																			</textarea>
																		</div>


																		<div class="mt-4 form-group">
																			<label>Desirebility</label>
																			<textarea id="editor-3" class="form-control wysiwyg-editor hide-me">
																				content here
																			</textarea>
																		</div>


																		<div class="mt-4 form-group">
																			<label>Qualifications</label>

																			<textarea id="editor-4" class="form-control wysiwyg-editor hide-me">
																				content here
																			</textarea>
																		</div>


																		<div class="mt-4 form-group">
																			<label>Commitment</label>

																			<textarea id="editor-5" class="form-control wysiwyg-editor hide-me">
																				content here
																			</textarea>
																		</div>


																		<div class="mt-3 btn-group w-100">
																			<button id="new-opportunity" type="submit" class="btn btn-light btn-block new-opportunity-btn">Update Opportunity</button>
																			<button type="submit" class="btn btn-light new-opportunity-btn new-opportunity-btn-ico">
																				<i class="lni lni-arrow-right"></i>
																			</button>
																		</div>
																	</form>
																</div>
															</div>

															<hr>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="Edit-Profile">
											<div class="mb-0 border shadow-none card radius-15">
												<div class="card-body">
													<div class="col-md-12 row">
														<div class="" id="desc-body"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end page-content-wrapper-->
			</div>
			<!--end page-wrapper-->
		</div>
	</body>
	<!--header-->


	<!--end header-->
{% endblock %}
{% block pageScripts %}
	<!--Data Tables js-->
	<script src="{{ asset('resources/portal/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
	{# <script src="{{ asset('resources/portal/plugins/simple-rich-text-editor/script.js') }}"></script> #}

	<script src="{{ asset('resources/portal/plugins/select2/js/select2.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/js/wysiwyg.min.js') }}"></script>

	<script src="{{ asset('resources/portal/plugins/select2/js/select2.min.js') }}"></script>
	{# <script src="{{ asset('resources/portal/func/trainers/new-event.js') }}"></script> #}
	<script src="{{ asset('resources/portal/plugins/notifications/js/lobibox.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/notifications/js/notifications.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/notifications/js/notification-custom-script.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/dropzone/min/dropzone.min.js') }}"></script>


	{# <script src="{{ asset('resources/portal/func/events/event-details-new.js') }}"></script> #}
	<script src="{{ asset('resources/portal/adminfunc/opportunities/opportunity-edit.js') }}"></script>
	{# <script src="{{ asset('resources/portal/adminfunc/events/edit-new-event.js') }}"></script> #}
{% endblock %}
