{% extends "layouts/portallayoutadmin.html.twig" %}

{% block head %}
	<link href="{{ asset('resources/portal/plugins/select2/css/select2.min.css') }}" rel="stylesheet"/>
	<link href="{{ asset('resources/portal/plugins/select2/css/select2-bootstrap4.css') }}" rel="stylesheet"/>
	<link href="{{ asset('resources/portal/plugins/fontawesome-free-5.15.4-web/css/all.min.css') }}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ asset('resources/portal/plugins/notifications/css/lobibox.min.css') }}"/>
	<link href="{{ asset('resources/portal/plugins/dropzone/min/dropzone.min.css') }}" rel="stylesheet">


	<link href="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/css/wysiwyg.min.css') }}" rel="stylesheet">
	<link href="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/css/highlight.min.css') }}" rel="stylesheet">

	{{ parent() }}
	<link href="{{ asset('resources/portal/plugins/simple-rich-text-editor/style.css') }}" rel="stylesheet"/>
	<style>
		.footer {
			position: fixed;
		}
		#div-trainerlist {
			display: block;
			width: 100%;
		}
	</style>
{% endblock %}


{% block mainContent %}

	<body
		class="bg-theme bg-theme1">
		<!-- wrapper -->
		<div
			class="wrapper">
			<!--sidebar-wrapper-->
			{% block sidenav %}
				{{ parent() }}
			{% endblock %}
			<!--end sidebar-wrapper-->
			<!--header-->
			{% block topnav %}
				{{ parent() }}
			{% endblock %}
			<!--end header-->
			<!--page-wrapper-->
			<!--page-wrapper-->
				<div
				class="page-wrapper"> <!--page-content-wrapper-->
				<div class="page-content-wrapper">
					<div
						class="page-content">
						<!--breadcrumb-->
						<div class="mb-3 page-breadcrumb d-none d-md-flex align-items-center">
							<div class="pr-3 breadcrumb-title">{{page_name}}</div>
							<div class="pl-3">
								<nav aria-label="breadcrumb">
									<ol class="p-0 mb-0 breadcrumb">
										<li class="breadcrumb-item">
											<a href="/admin-dash">
												<i class='bx bx-home-alt'></i>
											</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">{{page_description}}</li>
									</ol>
								</nav>
							</div>

						</div>
						<!--end breadcrumb-->
						<div class="card">
							<div class="card-body">
								<div class="card-title">
									<h4 class="mb-0">{{page_description}}</h4>


								</div>
								<hr/>

								<div class="col-12 row loading-div hide-me">
									<div class="col-12 alerts-div">
										<div class="col-md-1"></div>
										<div class="col-md-10">
											<div class="removeDataMessages"></div>
											<div class="ajaxDataloader"></div>
										</div>
										<div class="col-md-1"></div>
									</div>
								</div>

								<div class="user-profile-page results-div">
									<div class="card radius-15">
										<div class="card-body">


											<div class="mt-3 tab-content">
												<div class="tab-pane fade show active" id="Biography">
													<div class="row">
														<div class="col-lg-12">
															<div class="mb-0 border shadow-none card radius-15">
																<div class="card-body">
																	<h5 class=" mb-3">Create Event</h5>
																	<p>Kindly fill this form to set the event.</p>
																	<hr>
																	<h5 class="mb-3">Create new event</h5>

																	<div class="col-12">
																		<div class="col-12 alerts-div">
																			<div class="col-md-1"></div>
																			<div class="col-md-10">
																				<div class="removeBookMessages"></div>
																				<div class="ajaxBookloader"></div>
																			</div>
																			<div class="col-md-1"></div>
																		</div>
																	</div>

																	<div class="row">
																		<div class="col-md-12 ">
																			<form action="#" id="new-event-form">
																				<div class="row">
																					<div class="col-md-12">
																						<div class="single-select">
																							<label>Blog Title</label>
																							<input class="form-control" type="text" name="blog-title" id="blog-title">
																						</div>
																					</div>
																				</div>

																				<div class="mt-4 form-group">
																					<label>Teaser</label>
																					<textarea class="form-control" rows="5" cols="50" name="teaser" id="teaser"></textarea>
																				</div>
																				<div class="mt-4 form-group">
																					<label>Description of the blog</label>

																					<textarea id="editor" class="form-control wysiwyg-editor hide-me">
																						content here
																					</textarea>
																				</div>
																				<div class="mt-4 form-group">
																					<p><br>Upload blog hero image
																						<small>(best fit 770x420)</small>
																					</p>
																					<div action="" class="dropzone col-md-12" id="my-awesome-dropzone" name="my-awesome-dropzone"></div>
																				</div>
																				<div class="mt-3 btn-group w-100">
																					<button id="new-event-popup" type="button" class="btn btn-light btn-block new-event-btn-BN">Preview</button>
																					<button type="button" class="btn btn-light new-event-btn-BN new-event-btn-ico">
																						<i class="lni lni-arrow-right"></i>
																					</button>
																				</div>
																			</form>
																		</div>
																	</div>
																	<hr>
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!--end page-content-wrapper-->
			</div>
			<!--end page-wrapper-->
		</div>
	</body>
	<!--header--> 


	<!--modals-->
	<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Preview</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-12">
						<p>
							<strong>Blog Title</strong>
						</p>
						<p id="preview-title"></p>
						<p>
							<strong>Blog Teaser</strong>
						</p>
						<p id="preview-teaser"></p>
						<p>
							<strong>Blog Content</strong>
						</p>
						<div class="col-12" id="blog-body"></div>
					</div>
					<div class="col-12">
						<div class="mt-4 form-group">
							<input type="checkbox" id="publish" name="publish">
							<label for="publish">Publish</label>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Edit</button>
					<button type="button" id="new-event" class="btn btn-light new-event-btn">Create Blog</button>
				</div>
			</div>
		</div>
	</div>
	<!--modals-->

	<!--end header-->
{% endblock %}
{% block pageScripts %}
	<!--Data Tables js-->
	<script src="{{ asset('resources/portal/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
	{# <script src="{{ asset('resources/portal/plugins/simple-rich-text-editor/script.js') }}"></script> #}


	<script src="{{ asset('resources/portal/plugins/select2/js/select2.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/wysiwyg-editor-bootstrap/dist/js/wysiwyg.min.js') }}"></script>

	<script src="{{ asset('resources/portal/plugins/select2/js/select2.min.js') }}"></script>
	{# <script src="{{ asset('resources/portal/func/trainers/new-event.js') }}"></script> #}
	<script src="{{ asset('resources/portal/plugins/notifications/js/lobibox.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/notifications/js/notifications.min.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/notifications/js/notification-custom-script.js') }}"></script>
	<script src="{{ asset('resources/portal/plugins/dropzone/min/dropzone.min.js') }}"></script>


	<script src="{{ asset('resources/portal/adminfunc/blog/create-new-blog.js') }}"></script>
{% endblock %}
