{% extends "layouts/portallayoutadmin.html.twig" %}

{% block head %}
	{{ parent() }}
	<style>
		.footer {
			position: absolute;
		}
	</style>
{% endblock %}


{% block mainContent %}

	<body
		class="bg-theme bg-theme1">
		<!-- wrapper -->
		<div
			class="wrapper">
			<!--sidebar-wrapper-->
			{% block sidenav %}
				{{ parent() }}
			{% endblock %}
			<!--end sidebar-wrapper-->
			<!--header-->
			{% block topnav %}
				{{ parent() }}
			{% endblock %}
			<!--end header-->
			<!--page-wrapper-->
			<div
				class="page-wrapper">
				<!--page-content-wrapper-->
				<div class="page-content-wrapper">
					<div class="page-content">
						<div class="row">
							<div class="col-12 col-lg-3">
								<div class="card radius-15">
									<div class="card-body">
										<div class="d-flex align-items-center">
											<div>
												<h2 class="mb-0 text-white" id="service-count">-
												</h2>
											</div>
											<div class="ml-auto text-white font-35">
												<i class="bx bx-cart-alt"></i>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<div>
												<p class="mb-0 text-white">Services Offered</p>
											</div>
											<div class="ml-auto text-white font-14">***</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="card radius-15">
									<div class="card-body">
										<div class="d-flex align-items-center">
											<div>
												<h2 class="mb-0 text-white" id="client-count">-
												</h2>
											</div>
											<div class="ml-auto text-white font-35">
												<i class='bx bx-calendar-week'></i>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<div>
												<p class="mb-0 text-white">Client Count</p>
											</div>
											<div class="ml-auto text-white font-14">***</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="card radius-15">
									<div class="card-body">
										<div class="d-flex align-items-center">
											<div>
												<h2 class="mb-0 text-white" id="session-count">-
												</h2>
											</div>
											<div class="ml-auto text-white font-35">
												<i class="bx bx-calendar-week"></i>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<div>
												<p class="mb-0 text-white">Event Count</p>
											</div>
											<div class="ml-auto text-white font-14">***</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="card radius-15">
									<div class="card-body">
										<div class="d-flex align-items-center">
											<div>
												<h2 class="mb-0 text-white"  id="session-book-count">-
												</h2>
											</div>
											<div class="ml-auto text-white font-35">
												<i class='bx bx-cart-alt'></i>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<div>
												<p class="mb-0 text-white">Event Bookings</p>
											</div>
											<div class="ml-auto text-white font-14">***</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end row-->

						<div class="card-deck">
							<div class="card radius-15">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<h5 class="mb-0">Account Activity</h5>
										</div>
									</div>
									<div class="mt-3 row">
										<div class="col-12 col-lg-6">
											<div class="mx-0 card radius-15">
												<div class="card-body">
													<div class="d-flex align-items-center">
														<div>
															<p class="mb-0">Complete Events</p>
														</div>
														<div class="ml-auto">
															<span>Last 30 Days</span>
														</div>
													</div>
													<h4 class="mb-0" id="complete-sessions-30d">-</h4>
												</div>
											</div>
										</div>
										<div class="col-12 col-lg-6">
											<div class="mx-0 card radius-15">
												<div class="card-body">
													<div class="d-flex align-items-center">
														<div>
															<p class="mb-0">Upcoming Events</p>
														</div>
														<div class="ml-auto">
															<span>Last 30 Days</span>
														</div>
													</div>
													<h4 class="mb-0" id="pending-sessions-30d">-</h4>
												</div>
											</div>
										</div>
									</div>
									
									<div class="hide-me" id="chart1"></div>
								</div>
							</div>
						</div>

						<!--end row-->

						<!--end row-->
						<div class="card radius-15">
							<div class="card-header border-bottom-0">
								<div class="d-flex align-items-center">
									<div>
										<h5 class="mb-0">Trainer List</h5>
									</div>
									<div class="ml-auto">
										<a href="/admin-vw-trainers" type="button" class="btn btn-light radius-15">View More</a>
									</div>
								</div>
							</div>
							<div class="p-0 card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead>
											<tr>
												<th>User Name</th>
												<th>Date of Joining</th>
												<th>Phone</th>
												<th>Email</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody id="trainers-body"></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</body>
				<!--header-->


			{% endblock %}

			{% block pageScripts %}
				<!--pg scripts-->
				<script src="{{ asset('resources/portal/plugins/vectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
				<script src="{{ asset('resources/portal/plugins/vectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
				<script src="{{ asset('resources/portal/plugins/vectormap/jquery-jvectormap-in-mill.js') }}"></script>
				<script src="{{ asset('resources/portal/plugins/vectormap/jquery-jvectormap-us-aea-en.js') }}"></script>
				<script src="{{ asset('resources/portal/plugins/vectormap/jquery-jvectormap-uk-mill-en.js') }}"></script>
				<script src="{{ asset('resources/portal/plugins/vectormap/jquery-jvectormap-au-mill.js') }}"></script>
				<script src="{{ asset('resources/portal/plugins/apexcharts-bundle/js/apexcharts.min.js') }}"></script>
				{# <script src="{{ asset('resources/portal/js/index2.js') }}"></script> #}
				<script src="{{ asset('resources/portal/adminfunc/dashboard/dashadm.js') }}"></script>
			{% endblock %}
